<?xml version="1.0" encoding="UTF-8"?>
<configuration>
       <property resource="config/config.properties"/>

       <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
              <file>${yes.server.logWorkDir}/${dtyunxi.env.module}/${dtyunxi.env.module}.log</file>
              <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                     <fileNamePattern>${yes.server.logWorkDir}/${dtyunxi.env.module}/${dtyunxi.env.module}-%d{yyyy-MM-dd}.%i.log
                     </fileNamePattern>
                     <maxFileSize>5MB</maxFileSize>
                     <maxHistory>30</maxHistory>
                     <totalSizeCap>20GB</totalSizeCap>
              </rollingPolicy>
              <encoder>
                     <pattern>%date %-5level [v:${yes.log.version}] [h:${yes.server.localHost}] [m:${dtyunxi.env.module}] [reqId:%X{yes.req.requestId}] [%thread] %logger{36} [L:%line] - %msg%n
                     </pattern>
              </encoder>
       </appender>

       <root level="${yingzi.env.logger.level}">
              <appender-ref ref="ROLLING"/>
       </root>
</configuration>